#PostsPage {
    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -30px; /* gutter size offset */
        width: auto;
        @apply mt-5 px-5;

        .my-masonry-grid_column {
            padding-left: 30px; /* gutter size */
            background-clip: padding-box;
          }
          
          /* Style your items */
          .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
            margin-bottom: 30px;
          }
      }

}