/* Styles for the whole site */

* {
    font-family: 'Titillium Web', sans-serif;
}

input:focus,
textarea:focus,
button:focus{
    outline: none !important;
    -webkit-outline: none !important;
    box-shadow: none !important;
}

input:focus::placeholder, input:active::placeholder {
    color: transparent !important; 
}