.ReactTags__tags {
    @apply rounded p-2 border-1;
    .ReactTags__selected {
        @apply flex flex-wrap gap-2;
        .ReactTags__tag {
            @apply  rounded bg-darkGray-10 ;
            @apply flex  gap-1 font-semibold p-1 text-darkGray-60;
        }
    }
    .ReactTags__tagInput {
        input {
            @apply w-full;
        }
    }

}